<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
    <title>{{ articulo.getTitle() }}</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../static/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        
        {% include 'header.html' %}

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-12 col-12 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">{{ articulo.getTitle() }}</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/project">{{ proyecto.getProyecto() }}</a></li>
                            <li class="breadcrumb-item "><a href="/lookup">Buscador</a></li>
                            <li class="breadcrumb-item "><a href="javascript:history.back()">Resultados</a></li>
                            <li class="breadcrumb-item active">{{ articulo.getTitle() }}</li>
                        </ol>
                        <p class="card-text">
                            <small class="text-muted" id="keywords">
                            </small>
                        </p>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="card col-md-10 col-lg-10">
                            <div class="card-body">
                                <h1 class="card-title"><a href="{{ articulo.getURL() }}" target="_blank">{{ articulo.getTitle() }}</a></h1>
                                <h5 class="card-subtitle mb-2 text-muted"><a href="{{ articulo.getURL() }}" target="_blank">{{ articulo.getURL() }} &nbsp; </a></h5>

                                <div id="abstract">

                                    
                                </div>

                                
                            </div>



                        </div>
                        <div class="col-md-2 col-lg-2">

                                <div class="btn-group" role="group" >
                                    <button type="button" class="btn btn-secondary">Anterior</button>
       
                                    <button type="button" class="btn btn-secondary">Siguiente</button>
                                </div>

                                <br><br>

                                {% if articulo.getPDF() == '0' %}

                                <button class="btn btn-outline-danger waves-effect waves-light" type="button" disabled><span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>PDF no disponible</button>

                                {% endif %}

                                {% if articulo.getPDF() != '0' %}

                                <a href="{{ articulo.getPDF() }}" target="_blank" >

                                    <button class="btn btn-outline-danger waves-effect waves-light"><span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>Descargar PDF</button>

                                </a>

                                {% endif %}


                                
                                <br>
                                <br>
                                <form name="formRes">
                                    <div class="checkbox checkbox-primary pull-left p-t-0">
                                            <input id="checkbox-testeo" type="checkbox">
                                            <label for="checkbox-testeo"> Testeo </label>
                                    </div>
                                </form>

                                <br>
                                <br>
                                <button class="btn btn-block btn-info waves-effect waves-light">Agregar a proyecto</button>
                                <button class="btn btn-block btn-danger waves-effect waves-light">Eliminar</button>
                                <br>
                                <br>
                                <div class="form-group">
                                        <label>Descripcion</label>
                                        <textarea class="form-control" rows="10"></textarea>
                                        <button class="btn btn-block btn-info waves-effect waves-light">Guardar</button>
                                        <br>
                                </div>
                                
                            </div>


                      </div>
                  </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            
            {% include 'footer.html' %}
                    
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="../static/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="../static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>



    <script type="text/javascript">


    
</script>


<script>
        $(document).ready(function() {  // Hay que cambiar la logica de esto porque no es viable a largo plazo
            var returnAbstract = '{{ articulo.getAbstract() }}';

            returnAbstract = returnAbstract.replace('Abstract','<h2 class="card-title">Abstract</h2>');
            returnAbstract = returnAbstract.replace('Summary','<h4 class="card-title">Summary</h4>');
            returnAbstract = returnAbstract.replace('Resumen','<br><h4 class="card-title">Resumen</h4>');
            returnAbstract = returnAbstract.replace('Methods','<br><br><h4 class="card-title">Method</h4>');
            returnAbstract = returnAbstract.replace('Objectives','<h4 class="card-title">Objectives</h4>');
            returnAbstract = returnAbstract.replace('Introduction','<h4 class="card-title">Introduction</h4>');
            returnAbstract = returnAbstract.replace('Results','<br><br><h4 class="card-title">Results</h4>');
            returnAbstract = returnAbstract.replace('Conclusions','<br><br><h4 class="card-title">Conclusions</h4>');


            returnAbstract = returnAbstract.replace('Introducción','<h4 class="card-title">Introducción</h4>');
            returnAbstract = returnAbstract.replace('Material y métodos','<br><br><h4 class="card-title">Material y métodos</h4>');
            returnAbstract = returnAbstract.replace('Resultados','<br><br><h4 class="card-title">Resultados</h4>');
            returnAbstract = returnAbstract.replace('Conclusión','<br><br><h4 class="card-title">Conclusión</h4>');


            document.getElementById("abstract").innerHTML = returnAbstract;
        }); 
</script>

<script>
        $(document).ready(function() {  // Hay que cambiar la logica de esto porque no es viable a largo plazo
            var returnKeywords = '{{ articulo.getMetadata() }}';

            returnKeywords = returnKeywords.split(/(?=[A-Z])/).join(" ");
            returnKeywords = returnKeywords.replace('Keywords','</b>Keywords:</b>');
            returnKeywords = returnKeywords.replace("Palabras clave","</b>Palabras Clave</b>");
            document.getElementById("keywords").innerHTML = returnKeywords;
        }); 
</script>


</body>

</html>
