<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
    <title>Nombre Proyecto</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../static/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        
         {% include 'header.html' %}
         
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Nuevo proyecto</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="projects.html">Panel de proyectos</a></li>
                            <li class="breadcrumb-item active">Nuevo proyecto</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-body">
                                <form action="#" class="form-horizontal">
                                    <div class="form-body">
                                        <h3 class="box-title">Datos del proyecto</h3>
                                        <hr class="m-t-0 m-b-40">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Nombre</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" placeholder="Data mining">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">

                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Descripción</label>
                                                    <div class="col-md-9">
                                                      <div class="form-group">
                                                              <textarea class="form-control" rows="5" placeholder="Una breve descripción de los objetivos del proyecto"></textarea>
                                                      </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">

                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">

                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">

                                            </div>
                                            <!--/span-->
                                        </div>
                                        <h3 class="box-title">Criterios de categorización</h3>
                                        <hr class="m-t-0 m-b-40">
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Criterios de inclusión</label>
                                                    <div class="col-md-9">
                                                      <div class="form-group">
                                                              <textarea class="form-control" rows="5" placeholder="Criterios por los cuales se seleccionanar los articulos"></textarea>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Criterios de exclusión</label>
                                                    <div class="col-md-9">
                                                      <div class="form-group">
                                                              <textarea class="form-control" rows="5" placeholder="Criterios por los cuales se descartaran los articulos"></textarea>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="box-title">Invitar colaboradores</h3>
                                        <hr class="m-t-0 m-b-40">
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                              <div class="form-group row">
                                                  <label class="control-label text-right col-md-3">Usuario</label>
                                                  <div class="col-md-9">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="smartins@unla.edu.ar">
                                                            <span class="input-group-btn">
                                                                <button id="addColaborador" class="btn btn-info waves-effect waves-light" type="button"><i class="fa fa-plus"></i> </button>
                                                            </span>
                                                    </div>

                                                    <div id="colaboradores">

                                                    </div>


                                                  </div>
                                              </div>
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-info waves-effect waves-light">Crear</button>
                                                        <button type="button" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

            {% include 'footer.html' %}

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="../static/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/js/custom.min.js"></script>


    <script>
    var cantTerminos = 1;
    $("#addColaborador").click(function (e) {
        cantTerminos ++;
     $("#colaboradores").append('<div class="input-group">' +
            '<input type="text" class="form-control" placeholder="usuario@mail.com">' +
             '<span class="input-group-btn">' +
             '<button id="delete" class="btn btn-danger waves-effect waves-light" type="button"><i class="fa fa-times"></i> </button>' +
             '</span></div>'


     ); });


           $("body").on("click", ".delete", function (e) {
     $(this).parent("div").remove();
     cantTerminos --;
    });
    </script>


</body>

</html>
