<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
    <title>Revisión Sistematica</title>
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/colors/blue-dark.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header ">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <div id="main-wrapper">

                 {% include 'header.html' %}


        <div class="page-wrapper">
            <div class="container-fluid">
                <br><br>
                <div class="row">
                     <div class="col-3">
                    </div>
                    <div class="col-6">
                        <div class="card">
                            
                            <div class="card-body">
                                <h1 class="card-title">Bienvenido</h1>
                                <h3 class="card-title">Para comenzar, primero crea un proyecto.</h3>
                                

                                <button data-toggle="modal" data-target="#crearProyecto" class="btn btn-info waves-effect waves-light" type="submit">Nuevo proyecto</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>


        </div>


        <div id="crearProyecto" class="modal fade">
                <div class="modal-dialog">
                   <div class="modal-content">
              <form action="firstProject" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Crear proyecto</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <p>Indica un nombre para tu proyecto. Vas a poder modificar esta informacion cuando quieras</p>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input id="nombre" name="nombre" type="text" class="form-control" value="">
                        </div>
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info waves-effect waves-light">Crear proyecto</button>
                </div>
                </form>
            </div>
                <!-- /.modal-dialog -->
            </div>
          </div>


    </div>
    <script src="../static/assets/plugins/jquery/jquery.min.js"></script>
    <script src="../static/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.min.js"></script>
</body>

</html>
