<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
    <title>Panel de proyectos</title>
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="../static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="../static/assets/plugins/css-chart/css-chart.css" rel="stylesheet">
    <link href="../static/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="../static/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="../static/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="../static/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="../static/assets/plugins/typeahead.js-master/dist/typehead-min.css" rel="stylesheet">
    <link href="../static/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/colors/blue-dark.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>




                

        



    <div id="main-wrapper">
        
        {% include 'header.html' %}


        {% if session['noProject'] == True %}

        <div class="page-wrapper">
            <div class="container-fluid">
                <br><br>
                <div class="row">
                     <div class="col-3">
                    </div>
                    <div class="col-6">
                        <div class="card">
                            
                            <div class="card-body">
                                <h1 class="card-title">Bienvenido</h1>
                                <h3 class="card-title">Para comenzar, primero crea un proyecto.</h3>
                                

                                <button data-toggle="modal" data-target="#crearProyecto" class="btn btn-info waves-effect waves-light" type="submit">Nuevo proyecto</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>


        </div>


        <div id="crearProyecto" class="modal fade">
                <div class="modal-dialog">
                   <div class="modal-content">
              <form action="firstProject" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title">Crear proyecto</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <p>Indica un nombre para tu proyecto. Vas a poder modificar esta informacion cuando quieras</p>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input id="nombre" name="nombre" type="text" class="form-control" value="" required>
                        </div>
                    </div>

                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info waves-effect waves-light">Crear proyecto</button>
                </div>
                </form>
            </div>
                <!-- /.modal-dialog -->
            </div>
          </div>


          {% else %}

        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Panel de proyectos</h3>
                        <ol class="breadcrumb">
                          {% if session['proyecto'] %}
                            <li class="breadcrumb-item active"><i class="fa fa-check-circle"></i> {{ session['proyecto'].proyecto }}</li>
                          {% else %}
                            <li class="breadcrumb-item active">No hay un ningún proyecto seleccionado</li>
                            {% endif %}
                        </ol>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                {% if session['proyecto'] %}
                                <form action="/lookup">
                                <button class="btn btn-info waves-effect waves-light" type="submit">Buscar articulos</button>
                                </form>
                                {% endif %}
                                &nbsp;
                                <form action="/newProyect">
                                <button class="btn btn-info waves-effect waves-light" type="submit">Nuevo proyecto</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                          {% for key in session['proyectos'] %}
                                <!-- Row -->
                        <div class="row">
                            <!-- Column -->
                            <div class="col-md-12 col-lg-12">
                              {% if session['error'] %}
                               <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>No estas trabajando sobre ningún proyecto! </strong> {{session.pop('error')}} 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              {% endif %}
                              {% if session['status'] %}
                               <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{session.pop('status')}} 
                                <button type="button" class="close" data-dismiss="alert" id="success-alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              {% endif %}
                                <div class="row">
                                    <div class="col-md-10 col-lg-10">
                                        <div class="ribbon-wrapper card card-body"> 

                                          {% if session['proyecto'] %}
                                            {% if session['proyecto'].idProyecto == session['proyectos'][key].idProyecto %}

                                            <div data-toggle="tooltip" data-placement="top" title="Proyecto seleccionado" class="ribbon ribbon-warning ribbon-vertical-r"><i class="fa fa-check-circle"></i></div>

                                          {% endif %}
                                          {% endif %}
                                          
                                            <!-- Row -->
                                            <div class="row">


                                                <div class="ribbon ribbon-default">Propietario</div>
                                                <!-- Column -->

                                                <div class="col p-r-0 align-self-center">
                                                    <h2 class="font-light m-b-0"><a href="/project?project-id={{session['proyectos'][key].idProyecto}}">{{session['proyectos'][key].proyecto}}</a></h2>
                                                    <h6 class="text-muted">{{session['datosUsuario'].usuario}}</h6>
                                                    <h6 class="text-muted">{{session['proyectos'][key].descripcion}}</h6>
                                                </div>


                                                <!-- Porcentaje de desarrollo del proyecto:
                                                <div class="col text-right align-self-center">
                                                    <div data-label="85%" class="css-bar m-b-0 css-bar-info css-bar-85"></div>

                                                </div>
                                                -->
                                                <div class="ribbon ribbon-corner ribbon-info ribbon-right ribbon-bottom"><i class="editarProyecto fa fa-pencil" data-toggle="modal" data-id="{{session['proyectos'][key].idProyecto}}" data-proyecto="{{session['proyectos'][key].proyecto}}" data-descripcion="{{session['proyectos'][key].descripcion}}" data-inclusion="{{session['proyectos'][key].inclusion}}" data-exclusion="{{session['proyectos'][key].exclusion}}" data-target="#editarProyecto" class="model_img img-responsive"></i></div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <br>
                                        <button class="btn btn-block btn-info waves-effect waves-light" data-toggle="modal" data-target=".querysProject1" class="model_img img-responsive" >Ver busquedas</button>
                                        <button class="eliminarProyecto btn btn-block btn-danger waves-effect waves-light" data-toggle="modal" data-id="{{session['proyectos'][key].idProyecto}}" data-proyecto="{{session['proyectos'][key].proyecto}}" data-target="#eliminarProyecto" class="model_img img-responsive" >Eliminar proyecto</button>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row -->


                        {% endfor %}

                        {% block body %}
                              {% if not session['proyectos'] %}
                                <h2>No tienes proyectos. Crea uno para empezar a buscar articulos.</h2>
                              {% endif %}
                        {% endblock %}
           

            </div>

            
            <!-- ============================================================== -->
            <!-- Modals -->
            <!-- ============================================================== -->
            <div class="modal fade querysProject1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Busquedas realizadas en el proyecto</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">


                          <div class="chat-box">
                              <!--chat Row -->
                              <ul class="chat-list">
                                  <!--chat Row -->
                                  <li>
                                    <div class="chat-img">
                                      <div class="user-img"> <span class="round">SM</span> </div>
                                    </div>
                                      <div class="chat-content">
                                          <h5>Sebastian Martins</h5>
                                          <div class="box bg-light-success">Big data AND Paralisis OR Big data AND Health</div>
                                      </div>
                                      <div class="chat-time">
                                        <a href="#"><i class="fa fa-pencil fa-3x"></i></a>
                                        <a href="#"><i class="fa fa-eye fa-3x"></i></a>
                                      </div>
                                  </li>
                                  <!--chat Row -->
                                  <li>
                                    <div class="chat-img">
                                      <div class="user-img"> <span class="round">DR</span></div>
                                    </div>
                                      <div class="chat-content">
                                          <h5>Dario Rodriguez</h5>
                                          <div class="box bg-light-info">Big data AND Paralisis OR Data science AND Paralisis</div>
                                      </div>
                                      <div class="chat-time">
                                        <a href="#"><i class="fa fa-pencil fa-3x"></i></a>
                                        <a href="#"><i class="fa fa-eye fa-3x"></i></a>
                                      </div>
                                  </li>
                                  <!--chat Row -->
                                  <li>
                                      <div class="chat-img">
                                        <div class="user-img"> <span class="round">GC</span></div>
                                      </div>
                                      <div class="chat-content">
                                          <h5>Guido contento</h5>
                                          <div class="box bg-light-warning">Big data AND Paralisis OR Big data AND brain </div>
                                      </div>
                                      <div class="chat-time">
                                        <a href="#"><i class="fa fa-pencil fa-3x"></i></a>
                                        <a href="#"><i class="fa fa-eye fa-3x"></i></a>
                                      </div>
                                  </li>




                                  <!--chat Row -->
                                  <li>
                                    <div class="chat-img">
                                      <div class="user-img"> <span class="round">SM</span> <span class="profile-status away pull-right"></span> </div>
                                    </div>
                                      <div class="chat-content">
                                          <h5>Sebastian Martins</h5>
                                          <div class="box bg-light-info">Data science AND ARGENTINA AND NOT EUROPA OR AMERICA</div>
                                      </div>
                                      <div class="chat-time">
                                        <a href="#"><i class="fa fa-pencil fa-3x"></i></a>
                                        <a href="#"><i class="fa fa-eye fa-3x"></i></a>
                                      </div>
                                  </li>
                                  <!--chat Row -->
                                  <li>
                                    <div class="chat-img">
                                      <div class="user-img"> <span class="round">AF</span> </div>
                                    </div>
                                      <div class="chat-content">
                                          <h5>Andrés Filoso</h5>
                                          <div class="box bg-light-danger">Big data AND Paralisis OR Big data AND Health AND NOT POWERFULL</div>
                                      </div>
                                      <div class="chat-time">
                                        <a href="#"><i class="fa fa-pencil fa-2x"></i></a>
                                        <a href="#"><i class="fa fa-eye fa-2x"></i></a>
                                      </div>
                                  </li>
                                  <!--chat Row -->
                              </ul>
                          </div>



                          <hr class="m-t-0 m-b-40">


                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
          </div>

          <div id="editarProyecto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                   <div class="modal-content">
              <form action="/updateProject" method="POST">
                <input type="hidden" id="idProyectoAEditar" name="idProyectoAEditar" value="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Editar proyecto</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">

                    <div class="col-lg-12">
                        <div class="input-group">
                            <input id="nombre" name="nombre" type="text" class="form-control" value="" placeholder="Nombre del proyecto">
                        </div>
                    </div>
                    <br>

                    <div class="col-lg-12">
                        <div class="input-group">
                            <input id="descripcion" name="descripcion" type="text" class="form-control" value="" placeholder="Descripcion">
                        </div>
                    </div>
                    <br>

                    <div class="col-lg-12">
                        <div class="input-group">
                            <textarea id="inclusion" name="inclusion" class="form-control" rows="3" placeholder="Criterios de inclusion" required></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <textarea id="exclusion" name="exclusion" class="form-control" rows="3" placeholder="Criterios de exclusion" required></textarea>
                        </div>
                    </div>


                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">Actualizar</button>
                </div>
                </form>
            </div>
                <!-- /.modal-dialog -->
            </div>
          </div>


                                       <!-- /.modal -->

              <div id="eliminarProyecto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog">
                     <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Eliminar Proyecto</h4>
                              </div>
                              <div class="modal-body text-center">

                                <form action="deleteProject" method="POST" >
                                <input type="hidden" id="idProyectoAEliminar" name="idProyectoAEliminar" value="">
                                
                                  <h4 class="modal-title">¿Seguro quieres eliminar el proyecto?</h4>
                                  <span id="modal-proyecto"></span>
                                  <br><br>
                                  <div class="modal-footer">
                                        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Volver</button>
                                        <button type="submit" class="btn btn-danger waves-effect waves-light">Eliminar proyecto</button>
                                  </div>
                                  </form>
                              </div>
                          </div>
                  <!-- /.modal-dialog -->
              </div>
            </div>
              <!-- /.modal -->

            {% include 'footer.html' %}

        </div>

    </div>

    {% endif %}


    <script src="../static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="../static/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/js/custom.min.js"></script>
    
    <script src="../static/assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="../static/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="../static/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="../static/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
    <!-- This is data table -->
    <script src="../static/assets/plugins/datatables/jquery.dataTables.min.js"></script>

       <script type="text/javascript">
        $('.eliminarProyecto').on('click', function() {
            var dataId = $(this).attr("data-id");
            $("#modal-idProyecto").html(dataId);
            var dataProyecto = $(this).attr("data-proyecto");
            $("#modal-proyecto").html(dataProyecto);
            $("input[name='idProyectoAEliminar']").val(dataId);
        });

    </script>


    <script type="text/javascript">
        $('.editarProyecto').on('click', function() {
            var idProyecto = $(this).attr("data-id");
            $("#modal-idProyecto").html(idProyecto);
            var proyecto = $(this).attr("data-proyecto");
            $("#modal-proyecto").html(proyecto);
            var descripcion = $(this).attr("data-descripcion");
            $("#modal-descripcion").html(descripcion);
            var inclusion = $(this).attr("data-inclusion");
            $("#modal-inclusion").html(inclusion);
            var exclusion = $(this).attr("data-exclusion");
            $("#modal-exclusion").html(exclusion);

            $("#nombre").val(proyecto);
            $("#descripcion").val(descripcion);
            $("#inclusion").val(inclusion);
            $("#exclusion").val(exclusion);

            $("input[name='idProyectoAEditar']").val(idProyecto);
        });

    </script>


    <script>
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    </script>


    <script>
    jQuery(document).ready(function() {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function() {
            new Switchery($(this)[0], $(this).data());
        });
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
        //Bootstrap-TouchSpin
        $(".vertical-spin").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'ti-plus',
            verticaldownclass: 'ti-minus'
        });
        var vspinTrue = $(".vertical-spin").TouchSpin({
            verticalbuttons: true
        });
        if (vspinTrue) {
            $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
        }
        $("input[name='tch1']").TouchSpin({
            min: 0,
            max: 100,
            step: 0.1,
            decimals: 2,
            boostat: 5,
            maxboostedstep: 10,
            postfix: '%'
        });
        $("input[name='tch2']").TouchSpin({
            min: -1000000000,
            max: 1000000000,
            stepinterval: 50,
            maxboostedstep: 10000000,
            prefix: '$'
        });
        $("input[name='tch3']").TouchSpin();
        $("input[name='tch3_22']").TouchSpin({
            initval: 40
        });
        $("input[name='tch5']").TouchSpin({
            prefix: "pre",
            postfix: "post"
        });
        // For multiselect
        $('#pre-selected-options').multiSelect();
        $('#optgroup').multiSelect({
            selectableOptgroup: true
        });
        $('#public-methods').multiSelect();
        $('#select-all').click(function() {
            $('#public-methods').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function() {
            $('#public-methods').multiSelect('deselect_all');
            return false;
        });
        $('#refresh').on('click', function() {
            $('#public-methods').multiSelect('refresh');
            return false;
        });
        $('#add-option').on('click', function() {
            $('#public-methods').multiSelect('addOption', {
                value: 42,
                text: 'test 42',
                index: 0
            });
            return false;
        });
        $(".ajax").select2({
            ajax: {
                url: "https://api.github.com/search/repositories",
                dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function(data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function(markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: formatRepo, // omitted for brevity, see the source of this page
            templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });
    });
    </script>

</body>

</html>
