<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
    <title>{{ proyecto.getProyecto() }}</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../static/css/colors/blue-dark.css" id="theme" rel="stylesheet">


    <style>
* {
  box-sizing: border-box;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>

</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
            
        {% include 'header.html' %}

        <div class="page-wrapper">

            <div class="container-fluid">
     
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">{{ proyecto.getProyecto() }}</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/projects">Panel de proyectos</a></li>
                            <li class="breadcrumb-item active">{{ proyecto.getProyecto() }}</li>
                        </ol>
                    </div>
                    <div class="col-md-7 col-4 align-self-center">
                        <div class="d-flex m-t-10 justify-content-end">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <form action="/lookup">
                                <button class="btn btn-info waves-effect waves-light" type="submit">Buscar articulos</button>
                                </form>
                            </div>
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <form action="/classify">
                                <button class="btn btn-info waves-effect waves-light" type="submit">Clasificar articulos</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">

                            

                            <div class="card-body"> 
                                <i class="editarProyecto fa fa-pencil pull-right" data-toggle="modal" data-target="#editarProyecto" class="model_img img-responsive"></i>


                                <small class="text-muted">Proyecto </small>
                                <h6>{{ proyecto.getProyecto() }}</h6> 

                                <small class="text-muted p-t-30 db">Descripcion</small>
                                <h6>{{ proyecto.getDescripcion() }}</h6> 

                                <small class="text-muted p-t-30 db">Criterios de inclusion</small>
                                <h6>{{ proyecto.getInclusion() }}</h6>

                                <small class="text-muted p-t-30 db">Criterios de exclusion</small>
                                <h6>{{ proyecto.getExclusion() }}</h6>

                                <br>

                                

                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        {% if session['error'] %}
                               <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Error! </strong> {{session.pop('error')}} 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              {% endif %}
                              {% if session['status'] %}
                               <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{session.pop('status')}} 
                                <button type="button" class="close" data-dismiss="alert" id="success-alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              {% endif %}


                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#busquedas" role="tab">Busquedas</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#participantes" role="tab">Participantes</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#progreso" role="tab">Progreso</a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="busquedas" role="tabpanel">
                                    <div class="card-body">

                                        <div class="profiletimeline">

                                           {% if busquedas %}

                                             {% for key in busquedas %}

                                            <div class="sl-item">
                                                <div class="sl-left"> 
                                                <div class="user-img">
                                                <span class="round">
                                                  {{ busquedas[key].getUsuario()[0:2].upper() }}
                                                </span>
                                                <span class="profile-status away pull-right"></span>
                                              </div>
                                                </div>
                                                <div class="sl-right">
                                                    <div><a href="#" class="link">{{ busquedas[key].getUsuario() }}</a> <span class="sl-date" data-toggle="tooltip" data-placement="top" title="{{ busquedas[key].getFechahoraFull() }}" >{{ busquedas[key].getFechahoraFormat() }} </span>


                                                        <p></p>
                                                        <blockquote >
                                                            
                                                            {{ busquedas[key].getBusqueda() }}
                                        
                                                        </blockquote>

                                                        <a href="/scrapping?keywords={{ busquedas[key].getBusqueda() }}"><button type="button" class="btn btn-info waves-effect waves-light">Ver resultados </button></a>
                                                        <button type="button" class="btn btn-info waves-effect waves-light" data-id="" data-target="#editarBusqueda"> Editar</button>
                                                        <button type="button" class="btn btn-danger waves-effect waves-light" data-id="" data-target="#borrarBusqueda"> Borrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>

                                             {% endfor %}

                                             {% else %}
                                                    
                                                    <h3>Acá vas a encontrar todas las busquedas que se realicen en el proyecto. Por ahora, no hay ninguna.</h3>
                                                    <form action="/lookup">
                                                    <button class="btn btn-info waves-effect waves-light" type="submit">Buscar articulos</button>
                                                    </form>
                                             {% endif %}
                                        </div>

                                    
                                    </div>
                                </div>
                                
                                <div class="tab-pane" id="participantes" role="tabpanel">
                                    <div class="card-body">

                                        <div class="profiletimeline">
                                            <div class="sl-item">
                                                <div class="sl-left"> 
                                                <div class="user-img">
                                                <span class="round">
                                                   {{ proyecto.getIdUsuario()[0:2].upper() }}
                                                </span>
                                                <span class="profile-status away pull-right"></span>
                                              </div>
                                                </div>
                                                <div class="sl-right">
                                                    <div><a href="#" class="link">{{ proyecto.getIdUsuario() }}</a>
                                                          <p>Autor</p>  
                                                
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>

                                            {% for key in colaboradores %}

                                            <div class="sl-item">
                                                <div class="sl-left"> 
                                                <div class="user-img">
                                                <span class="round">
                                                  {{ colaboradores[key].getUsuario()[0:2].upper() }}
                                                </span>
                                                <span class="profile-status away pull-right"></span>
                                              </div>
                                                </div>
                                                <div class="sl-right">
                                                    <div><a href="#" class="link">{{ colaboradores[key].getUsuario() }}</a>
                                                           <p>Colaborador</p>  
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>

                                            {% endfor %}
                                            
                                            <div class="sl-item">
                                                <div class="sl-left"> 
                                                  <div class="user-img">
                                                <span class="round">
                                                  <i class="fa fa-plus"></i>
                                                </span>
                                                <span class="profile-status away pull-right"></span>
                                              </div>
                                                </div>
                                                <div class="sl-right">
                                                 <form autocomplete="off" action="/add_user_2_project" method="POST">
                                                  <div class="autocomplete">
    
                                                    <input id="myInput" type="text" name="usuario" class="form-control col-md-10" placeholder="Usuario" required>
                                                  </div>                                  
                                                    <button class="btn btn-info waves-effect waves-light" type="submit">Invitar</button>
                                                </form> 

                                                <br><br>
                                                
                                            
                                                    </div>

                                                   
                                                        
                                                      

                                                </div>
                                            </div>
                                        </div>

                                    
                                    
                                </div>


                                <div class="tab-pane" id="progreso" role="tabpanel">
                                    <div class="card-body">

                                        {% if articulos %}

                                            <h2>Progreso del proyecto </h2>
                                            <h4>Cantidad de busquedas: {{ busquedas|length }}</h4>
                                            <h4>Cantidad de articulos: {{ articulos|length }}</h4>
                                            <h4>Cantidad de articulos clasificados: {{ session["cantidadClasificados"] }}</h4>
                                            <h4>Cantidad de articulos testeados: {{ session["cantidadTesteados"] }}</h4>
                                            <h4>Productividad de busquedas: {{ (((session["cantidadTesteados"]*100)/articulos|length)|string())[:4] }}%</h4>

                                        {% else %}

                                            <div class="p-20">
                                            <h3>El proyecto todavia no tiene articulos. Los articulos que agregues al proyecto van a aparecer acá!</h3>
                                            
                                            </div>  

                                        {% endif %}
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->


                <div id="editarProyecto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                   <div class="modal-content">
              <form action="/updateProject?callback=project" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Editar proyecto</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">

                    <input type="hidden" name="idProyectoAEditar" value="{{ proyecto.getIdProyecto() }}"> <!-- esto esta fallando. revisar -->

                    <div class="col-lg-12">
                        <div class="input-group">
                            <input id="nombre" name="nombre" type="text" class="form-control" value="{{ proyecto.getProyecto() }}" placeholder="Nombre del proyecto">
                        </div>
                    </div>
                    <br>

                    <div class="col-lg-12">
                        <div class="input-group">
                            <textarea id="descripcion" name="descripcion" class="form-control" rows="3" placeholder="Descripcion">{{ proyecto.getDescripcion() }}</textarea>
                        </div>
                    </div>
                    <br>

                    <div class="col-lg-12">
                        <div class="input-group">
                            <textarea id="inclusion" name="inclusion" class="form-control" rows="3" placeholder="Criterios de inclusion" required>{{ proyecto.getInclusion() }}</textarea>
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <textarea id="exclusion" name="exclusion" class="form-control" rows="3" placeholder="Criterios de exclusion" required>{{ proyecto.getExclusion() }}</textarea>
                        </div>
                    </div>


                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info waves-effect waves-light">Actualizar</button>
                </div>
                </form>
            </div>
                <!-- /.modal-dialog -->
            </div>
          </div>


          <div id="eliminarTransaccion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog">
                     <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Eliminar Historial</h4>
                              </div>
                              <div class="modal-body text-center">

                                <form action="deleteTransaccion" method="POST" >
                                <input type="hidden" id="idTransaccionAEliminar" name="idTransaccionAEliminar" value="">
                                    
                                  <h4 class="modal-title">¿Seguro quieres eliminar esta transaccion?</h4>
                                  <span id="modal-idProyecto"></span>
                                  <br><br>
                                  <div class="modal-footer">
                                        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Volver</button>
                                        <button type="submit" class="btn btn-danger waves-effect waves-light">Eliminar</button>
                                  </div>
                                  </form>
                              </div>
                          </div>
                  <!-- /.modal-dialog -->
              </div>
            </div>


                
            </div>


        </div>

            </div>
            
            {% include 'footer.html' %}

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

var countries = []

function test_func(usuarios) {
        console.log(usuarios);

    }
    test_func({{ usuarios|safe }})

/*An array containing all the country names in the world:*/
var countries = {{ usuarios|safe }}

 console.log(countries)


/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), countries);
</script>

    <script type="text/javascript">
        $('.eliminarTransaccion').on('click', function() {
            var dataId = $(this).attr("data-id");
              $("#modal-idProyecto").html(dataId);
            $("input[name='idTransaccionAEliminar']").val(dataId);
        });

    </script>


    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="../static/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/js/custom.min.js"></script>

</body>

</html>
